﻿@model IEnumerable<WebApplication2.Models.Product>

@{
    ViewData["Title"] = "All Products";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var product in Model)
                {
                    <div class="col">
                        <div class="card">
                            <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Category.Name</p>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text">Price: @product.Price.ToString("C")</p>
                                <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
