﻿@model IEnumerable<WebApplication2.Models.Product>
<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Category?.Name</td>
                <td>

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Display", "Product", new { id = product.Id })'">View</button>

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Update", "Product", new { id = product.Id })'">Edit</button>

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Product", new { id = product.Id })'">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>
