﻿@model WebApplication2.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Product";
}
<h2>Edit Product</h2>
<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
<textarea asp-for="Description" class="form-control"></textarea>

        <span asp-validation-for="Description" class="text-
danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" onchange="previewImage(this)" />
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width:200px;" id="previewImage" />
        <br />  @Html.ValidationMessage("ImageUrl", "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script>
    function previewImage(input) {
        var preview = document.getElementById('previewImage');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Call the previewImage function when the page is loaded
    window.onload = function () {
        var fileInput = document.querySelector('input[type="file"]');
        fileInput.addEventListener('change', function () {
            previewImage(this);
        });
    };
</script>