﻿@model WebApplication2.Models.Category
@{
    ViewData["Title"] = "Add Category";
}

<h2>Add Category</h2>
<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Category Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>