﻿@model WebApplication2.Models.Category

@{
    ViewData["Title"] = "Display Category";
}

<h2>Category Details</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Category ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Category Name:</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
