﻿@model IEnumerable<WebApplication2.Models.Category>
<h2>Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Display", "Category", new { id = category.Id })'">View</button>

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Update", "Category", new { id = category.Id })'">Update</button>

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete", "Category", new { id = category.Id })'">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>
