﻿@model WebApplication2.Models.Category
@{
    ViewData["Title"] = "Edit Category";
}

<h2>Edit Category</h2>
<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Category Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update Category</button>
</form>